/* Основные стили */
body {
    font-family: Arial, sans-serif;
    background-color: #263739;
    color: #2E2E2E;
    margin: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
}

/* Стили для хедера */
header {
    width: 100%;
    background-color: #FF9800;
    padding: 10px 0;
}

.nav-menu {
    list-style: none;
    display: flex;
    justify-content: center;
    margin: 0;
    padding: 0;
}

.nav-menu li {
    margin: 0 15px;
}

.nav-menu a {
    color: white;
    text-decoration: none;
    font-size: 16px;
    font-weight: bold;
}

.nav-menu a:hover {
    text-decoration: underline;
}

/* Стили для основной секции формы */
main {
    display: flex;
    justify-content: center;
    width: 100%;
    padding: 20px;
    box-sizing: border-box;
}

.form-section {
    background-color: #FFFFFF;
    padding: 20px;
    width: 100%;
    max-width: 500px;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

.form-section h2 {
    text-align: center;
    color: #333;
    margin-bottom: 20px;
}

/* Стили для формы */
form label {
    display: block;
    font-weight: bold;
    margin-top: 10px;
}

form input[type="text"],
form input[type="datetime-local"],
form input[type="url"],
form textarea {
    width: 100%;
    padding: 10px;
    margin-top: 5px;
    margin-bottom: 15px;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
    font-size: 16px;
    border-color:#FF9800;
}

form textarea {
    resize: vertical;
}

/* Стили для кнопки отправки */
button[type="submit"] {
    width: 100%;
    padding: 12px;
    background-color: #FF9800;
    color: white;
    font-size: 16px;
    font-weight: bold;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

button[type="submit"]:hover {
    background-color: #FF9800;
}

/* Сообщение об успешном добавлении */
#successMessage {
    text-align: center;
    color: #FF9800;
    font-weight: bold;
    margin-top: 10px;
}