<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Мой Город - Главная</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='index.css') }}">
</head>
<body>
    <header>
        <img src="{{ url_for('static', filename='img/logo.png') }}" alt="Logo" class="logo">
        <nav>
            <ul class="nav-menu" style="background-color: #263739">
                <li style="margin: 0 15px;"><a href="/" >Главная</a></li>
                <li style="margin: 0 15px;"><a href="/">События</a></li>
                <li style="margin: 0 15px;"><a href="/services">Услуги</a></li>
                <li style="margin: 0 15px;"><a href="/extra">Экстренная помощь</a></li>
                <!-- <li class="register-container"><a href="my city.html" class="register-button" style="margin-right: 15px;">Регистрация и Вход</a></li> -->
                {% if current_user.is_authenticated %}
                <li class="register-container"><a href="/logout" class="register-button" style="margin-right: 15px;">выйти</a></li>
                {% else %}
                <li class="register-container"><a href="/login" class="register-button" style="margin-right: 15px;">войти/зарегестрироваться</a></li>
                {% endif %}
            </ul>
        </nav>
    </header>
    
    <main>
        <section id="hero" style="background-image: url({{ url_for('static', filename='img/img_2004.jpg') }})">
            <div class="overlay"></div>
            <h1>Добро пожаловать в Петропавловск!</h1>
            <p>Будьте в курсе событий, сервисов и удобств в вашем городе вместе с <b>My City.</b></p>
        </section>
        
        <section id="events" class="card-section" style="background-color: #263238; color: #fff;">
            <h2 style="margin-left: 780px;">Городские события</h2>
            <div id="event-cards" class="cards">
                {% for event in events %}
                    <div class="card" style="border: 4px solid #FF9800;">
                        <a href="/event/{{ event[0] }}" class="ev">
                            <img src="{{ event[4] }}" class="event-image">
                        </a>
                        <div class="card-content">
                            <h3 id="qwe"><a href="/event/{{event[0]}}">{{ event[1] }}</a></h3>
                            <p>{{ event[3] }}</p>
                            <div class="event-details">
                                <div class="event-date">
                                    <span class="material-icons"><b>Дата:</b></span>
                                    <p>{{ event[2] }}</p>
                                </div>
                                <div class="event-location">
                                    <span class="material-icons"><b>Локация:</b></span>
                                    <p>{{ event[6] }}</p>
                                </div>
                                <div class="event-price">
                                    <span class="material-icons"><b>Цена:</b></span>
                                    <p>{{ event[8] }}</p>
                                </div>
                            </div>
                        </div>
                    </div>
                {% endfor %}
            </div>
            <br>
            <form id="comment-form" action="/add_event" method="GET">
                <button type="submit">добавить событие</button>
            </form>
        </section>
        <section id="reviews">

            {% for comment in comments %}
                <div class="review">
                    <h3>{{comment[3]}} про {{ comment[1] }}:</h3>
                    <p>{{ comment[2] }}</p>
                    <br>
                </div>
            {% endfor %}

            <h2>Оставить комментарий о событии</h2>
            <form id="comment-form" action="/add_comment" method="POST">
                <label for="event-name">Название события:</label>
                <input type="text" id="event-name" name="title" required placeholder="Введите название события">

                <label for="comment">Ваш комментарий:</label>
                <textarea id="comment" name="content" required placeholder="Введите ваш комментарий" rows="4"></textarea>

                <button type="submit">Отправить комментарий</button>
            </form>
        </section>
    
        <footer>
            <p>С уважением команда ITshechka.<br>© 2024 My City. Все права защищены.</p>
            <a href="/resources" class="footer-button">Ресурсы</a>
        </footer>
    
        <script src="{{ url_for('static', filename='index.js') }}"></script>
</body>
</html>