<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>форум</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='index.css') }}">
</head>
<body>
    <header>
        <img src="{{ url_for('static', filename='img/logo.png') }}" alt="Logo" class="logo">
        <nav>
            <ul class="nav-menu" style="background-color: #263739">
                <li style="margin: 0 15px;"><a href="/" >Главная</a></li>
                <li style="margin: 0 15px;"><a href="/">События</a></li>
                <li style="margin: 0 15px;"><a href="/services">Услуги</a></li>
                <li style="margin: 0 15px;"><a href="/extra">Экстренная помощь</a></li>
                <li style="margin: 0 15px;"><a href="/forum">форум</a></li>
                <!-- <li class="register-container"><a href="my city.html" class="register-button" style="margin-right: 15px;">Регистрация и Вход</a></li> -->
                {% if current_user.is_authenticated %}
                <li class="register-container"><a href="/logout" class="register-button" style="margin-right: 15px;">выйти</a></li>
                {% else %}
                <li class="register-container"><a href="/login" class="register-button" style="margin-right: 15px;">войти/зарегестрироваться</a></li>
                {% endif %}
            </ul>
        </nav>
    </header>
    
    <h1>Форум</h1>
<a href="/forum/new">Создать новую тему</a>
<ul>
    {% for topic in topics %}
        <li>
            <a href="/forum/topic/{{ topic[0] }}">{{ topic[1] }}</a> — {{ topic[3] }}
        </li>
    {% endfor %}
</ul>

        <footer>
            <p>С уважением команда ITshechka.<br>© 2024 My City. Все права защищены.</p>
            <a href="/resources" class="footer-button">Ресурсы</a>
        </footer>
    
</body>
</html>