<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Редактирование Профиля</title>
    <link rel="stylesheet" href="../static/red.profile.css">
</head>
<body>
    <header>
        <nav>
            <img src="../static/img/logo.png" alt="Logo" class="logo">
            <ul class="nav-menu">
                <li><a href="index.html">Главная</a></li>
                <li><a href="events.html">События</a></li>
                <li><a href="services.html">Услуги</a></li>
                <li><a href="extra.html">Экстренная помощь</a></li>
                <li><a href="logout.html" class="register-button">Войти/Регистрация</a></li>
            </ul>
        </nav>
    </header>

    <main>
        <section class="edit-profile-section">
            <div class="edit-profile-card">
                
                <h2>Загрузить изображение профиля</h2>
                <form action="{{ url_for('upload_profile_image') }}" method="POST" enctype="multipart/form-data">
                    <label for="file" class="upload-img">Выбрать изображение</label>
                    <input type="file" name="file" id="file" accept="image/*" required hidden>

                    <span id="file-name" class="file-name">Файл не выбран</span>

                    <button type="submit" class="save-button">Загрузить изображение</button>
                </form>
                <h2>Редактирование Профиля</h2>
                <form action="{{ url_for('set_profile') }}" method="POST">
                    <label for="username">Имя пользователя</label>
                    <input type="text" id="username" name="username" value="{{ user['name'] }}" required>
        
                    <label for="email">Электронная почта</label>
                    <input type="email" id="email" name="email" value="{{ user['email'] }}" required>
        
                    <label for="phone">Номер телефона</label>
                    <input type="text" id="phone" name="phone" value="{{ user['sav_days'] or '+7 (123) 456-78-90' }}" required>
        
                    <label for="rank">Звание</label>
                    <select id="rank" name="rank">
                        <option value="novice" {% if user['lvl'] == 'novice' %}selected{% endif %}>Новичок</option>
                        <option value="intermediate" {% if user['lvl'] == 'intermediate' %}selected{% endif %}>Продвинутый</option>
                        <option value="expert" {% if user['lvl'] == 'expert' %}selected{% endif %}>Эксперт</option>
                        <option value="master" {% if user['lvl'] == 'master' %}selected{% endif %}>Мастер</option>
                    </select>
        
                    <button type="submit" class="save-button">Сохранить изменения</button>
                </form>
            </div>
        </section>
    </main>

    <footer>
        <p>С уважением команда ITshechka.<br>© 2024 My City. Все права защищены.</p>
        <a href="/resources" class="footer-button">Ресурсы</a>
    </footer>
</body>
</html>