<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Регистрация</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='register.css') }}">
</head>
<body>

<div class="registration-form">
    <h2>Регистрация</h2>
    <form action="/register" method="POST">
        <label for="username">Имя пользователя</label>
        <input type="text" id="username" name="name" required>

        <label for="email">Электронная почта</label>
        <input type="email" id="email" name="email" required>

        <label for="password">Пароль</label>
        <input type="password" id="password" name="password" required>

        <button type="submit">Зарегистрироваться</button>
    </form>
    <div class="login">
        <a href="/login">Уже есть аккаунт? Войти</a>
    </div>
</div>
</body>
</html>
