<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='services.css') }}">
    <script src="https://api-maps.yandex.ru/2.1/?apikey=<YOUR_API_KEY>&lang=ru_RU" type="text/javascript"></script>
</head>
<body>
    <header>
        <nav>
            <img src="{{ url_for('static', filename='img/logo.png') }}" alt="Logo" class="logo">
            <ul class="nav-menu">
                <li><a href="/">Главная</a></li>
                <li><a href="/">События</a></li>
                <li><a href="/services">Услуги</a></li>
                <li><a href="/extra">Экстренная помощь</a></li>
                <li><a href="/forum">Форум</a></li>
                <li style="margin: 0 15px;"><a href="/notifications">Уведомления</a></li>
                {% if current_user.is_authenticated %}
                <li class="register-container"><a href="/logout" class="register-button" style="margin-right: 15px;">выйти</a></li>
                {% else %}
                <li class="register-container"><a href="/login" class="register-button" style="margin-right: 15px;">войти/зарегестрироваться</a></li>
                {% endif %}
            </ul>
            <a href="/profile" class="profile-button">
                <img src="/current_image" alt="Профиль" class="profile-icon">
            </a>
        </nav>
    </header>
    
    <main>
        <section id="services-list">
            <div class="header-with-button">
                <h2>Список услуг</h2>
                <a href="/add_service" class="add-service-button">Добавить новую услугу</a>
            </div>
            <div class="service-list">
                {% for service in services %}
                    <div class="service-item" style="border: 3px solid #FF9800;">
                        <img src="{{ service['image_url'] }}" alt="{{ service['name'] }}" class="service-image" style="width: 300px; height: 300px;">
                        <div class="service-info">
                            <h3>{{ service['name'] }}</h3>
                            <p>{{ service['description'] }}</p>
                        </div>
                        <div class="service-action">
                            <button class="contact-button" onclick="window.location.href='tel:{{ service['phone'] }}'">Связаться</button>
                            <a href="{{ service['website'] }}" class="web-button" target="_blank">Сайт заведения</a>
                            <button class="map-button" onclick="showMap('{{ service['coordinates'] }}', '{{ service['name'] }}')">Посмотреть на карте</button>
                        </div>
                        <img src="{{ service['qr_code_url'] }}" alt="QR Code" class="qr-code" style="width: 150px; height: 150px;">
                    </div>
                {% else %}
                    <p class="service-else">Услуги отсутствуют (добавить не забудьте)</p>
                {% endfor %}
            </div>
        </section>
    </main>
    
    <div id="map-modal">
        <div id="map" style="width: 80%; height: 80%;"></div>
        <button onclick="closeMap()" style="position: absolute; top: 20px; right: 20px; padding: 10px 20px; background: #dc3545; color: #fff; border: none; border-radius: 5px; cursor: pointer;">Закрыть карту</button>
    </div>

    <script src="{{ url_for('static', filename='services.js') }}"></script>
</body>
</html>