<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>пост</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='index.css') }}">
</head>
<body>
    <header>
        <nav>
            <img src="{{ url_for('static', filename='img/logo.png') }}" alt="Logo" class="logo">
            <ul class="nav-menu">
                <li><a href="/">Главная</a></li>
                <li><a href="/">События</a></li>
                <li><a href="/services">Услуги</a></li>
                <li><a href="/extra">Экстренная помощь</a></li>
                <li><a href="/forum">Форум</a></li>
                <!-- <li style="margin: 0 15px;"><a href="/notifications">Уведомления</a></li> -->
                {% if current_user.is_authenticated %}
                <li class="register-container"><a href="/logout" class="register-button" style="margin-right: 15px;">выйти</a></li>
                {% else %}
                <li class="register-container"><a href="/login" class="register-button" style="margin-right: 15px;">войти/зарегестрироваться</a></li>
                {% endif %}
            </ul>
            <a href="/profile" class="profile-button">
                <img src="/current_image" alt="Профиль" class="profile-icon">
            </a>
        </nav>
    </header>
    <main>
        <h1>{{ topic[1] }}</h1>
        <p>{{ topic[2] }}</p>
        <p><small>Создано: {{ topic[3] }}</small></p>

        <h2>Комментарии</h2>
        <ul>
            {% for comment in comments %}
                <li>
                    <p style=" word-wrap: break-word;">{{ comment[1] }}</p>
                    <!-- <small>{{ comment[2] }}</small> -->
                </li>
            {% endfor %}
        </ul>

        {% if current_user.is_authenticated %}
        <form method="post" class="new-topic-form">
            <label for="content">Добавить комментарий:</label>
            <textarea name="content" class="content-text" required></textarea>
            <button type="submit" class="submit-button">Отправить</button>
        </form>

        {% else %}
            <p>Войдите, чтобы оставить комментарий.</p>
        {% endif %}

    </main>
        <footer>
            <p>С уважением команда ITshechka.<br>© 2024 My City. Все права защищены.</p>
            <a href="/resources" class="footer-button">Ресурсы</a>
        </footer>
    

</body>
</html>